.khan__buy-link {
    display: inline-block;
    text-decoration: none;
    color: #2f80ed;
    font-size: 30px;
    line-height: 42px;
    font-weight: normal;
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.3s;
  }
  .khan__buy-link:hover {
    opacity: 0.5;
    transition-property: opacity;
    transition-duration: 0.3s;
  }